<h1>Welcome to your dashboard, <%= @user.username %>!</h1>

<h2><a href="/articles/new">Click here to submit more articles for me to pseudo-analyze.</a></h2>

<h2>Here are the articles you've submitted to be analyzed:</h2>

<ul>
  <% @user.articles.each do |article| %>
    <br>
    <li><strong>Title: <%= article.title %></strong></li>
    <br>
    <li>Content: <%= article.content %></li>
    <br>
    <li>Pseudo-Score: <%= pseudo_score_randomizer %>%</li>
    <br>
    <form action="/articles/<%= article.id %>/edit" method="GET">
      <input id="hidden" type="hidden" name="_method" value="GET">
      <button type="submit" value="submit">Edit</button>
    </form>
    <br>
    <form onsubmit="return confirm('Are you sure you want to delete this article?')" action="/articles/<%= article.id %>/delete" method="POST">
      <input id="hidden" type="hidden" name="_method" value="DELETE">
      <button type="submit" value="submit">Delete</button>
    </form>
    <br>
    <!-- LINK TO EDIT THIS ARTICLE, LINK TO DELETE THIS ARTICLE -->
  <% end %>
</ul>

<br>
<br>
<a href="/articles">See Every Article I've Pseudo-Analyzed</a>
<br>
<br>
<a href="/sessions/logout">Log Out</a>
