<<h1>Articles</h1>

<<ul>
<% @articles,each do |article| %>
  <<li><<a href="/articles/<%= article.id %>"<%= article.title %>></a></li>
#  <!-- <li><<strong>Title: <%= article.title %></strong></li>
#  <li><%= article.content %></li>
#  <li>Truth Pseudo-Score: <%= article.pseudo_score %></li> -->
<% end %>
</ul>
